
html { overflow: hidden; }
body { margin:0; padding:0; }
 

/* image boxes */
#box{
	position: absolute;
	left: 25%;
	top: 15%;
	background-color:#B5B5B5;
	border:2px solid #ccc;
	border-radius:25px;
	-moz-border-radius:25px;
	z-index: 1;
	-transform: scale(0.6) rotate(-15deg);
	-o-transform:scale(0.6) rotate(-15deg);
	-webkit-transform: scale(0.6) rotate(-15deg);
	-moz-transform: scale(0.6) rotate(-15deg);
	-ms-transform:scale(0.6) rotate(-15deg);
	-transition: left 1s,top 1s,background-color 1s, -transform 0.5s;
	-webkit-transition: left 1s,top 1s,background-color 1s, -webkit-box-shadow 1s, -webkit-transform 0.5s;
	-moz-transition: left 1s,top 1s,background-color 1s, -moz-transform 0.5s;
	-ms-transition: left 1s,top 1s,background-color 1s, -ms-transform 0.5s;
	-o-transition: left 1s,top 1s,background-color 1s, -o-transform 0.5s;
}
#box:hover{
	background-color:#B5B5B5;
	-transform: scale(0.8) rotate(-5deg) translate(120px,20px);
	-o-transform:scale(0.8) rotate(-5deg) translate(120px,20px);
	-webkit-transform: scale(0.8) rotate(-5deg) translate(120px,20px);
	-moz-transform: scale(0.8) rotate(-5deg) translate(120px,20px);
	-webkit-transform:scale(0.8) rotate(-5deg) translate(120px,20px);
	-ms-transform:scale(0.8) rotate(-5deg) translate(120px,20px);
	cursor: pointer;
}
/* image holder */
#box .image{
	margin:10px;
	padding:7px;
	opacity:0.5;
	background:#000;
	-transition: opacity 1.5s;
	-webkit-transition: opacity 1.5s;
	-o-transition: opacity 1.5s;
	-moz-transition: opacity 1.5s;
	-ms-transition: opacity 1.5s;
}
#box .image:hover {
	
}
.image_content{
	width: 800px;
	height: 525px;
	padding: 0px;
	margin: 0px;
	background: url(../image/card.jpg);
}
